@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Vollkorn&display=swap');


:root {
    --theme: #90B2E1;
    --logo: #3674C6;
  }
/* *{
    padding: 0px;
    margin: 0px;
    font-family: 'Audiowide', cursive;
    font-family: 'Vollkorn', serif;
} */
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

.navbar {
    height: 66px;
    width: 100%;
    /* background: #504f4f; */
    font-size: 18px;
    font-weight: bold;
    display: flex;

}

.nav1 {
    display: flex;
    height: 66px;
    align-items: center;
    /* background: #453232; */
    width: 400px;
}

.nav1 img{
    width: 200px;
    height: 125px;
}
.flatery{
    font-size: 28px;
    display: flex;
    padding: 1rem;
    background: linear-gradient(to right, #3674C6 54%, #000000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.contact{
    display: flex;
    width: 120px;
    height: 41px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius: 22px;
    /* border: 2px solid red; */

}
.contact:hover{
    background-color: var(--theme) ;
}

.contact img{
    width: 25px;
    height: 20px;
    margin-right: 5px;
    
}

.nav2{
    width: 700px;
    position: absolute;
    right: 0;
    /* background: #b78484; */
    align-items: center;
    justify-content: c;
    height: 66px;
    display: flex;
    /* margin: auto; */
    /* padding: 5px; */
    
}

.nav2 .home {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 41px;
    text-align: center;
    border-radius: 22px;
    margin-right: 5px;
}
.home:hover{
    background-color: var(--theme) ;
}


.nav2 .home img{
    width: 20px;
    height: 18px;
    margin-right: 5px;

}

.services{
    height: 41px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-right: 5px;

}
.services:hover{
    background-color: var(--theme) ;
}


.add{
    height: 41px;
    width: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-right: 5px;

}
.add img{
    width: 20px;
    height: 18px;

}
.add:hover{
    background-color: var(--theme) ;
}
.properties{
    height: 41px;
    width: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-right: 5px;


}
.fa-building-user{
    margin-right: 5px;

}
/* .properties:hover{
    background-color: var(--theme) ;
} */

.navbar .nav2 .login{
    height: 41px;
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-right: 5px;

    
}
.navbar .nav2 .login a{
  text-decoration: none;
  color: inherit;
}
.navbar .nav2 .fa-right-to-bracket{
    margin-right: 5px;
}
.login:hover,.properties:hover{
    background-color: var(--theme) ;
}

.slider{
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.30)),url(../res/flat.jpg) ;
    opacity: 2;
    /* filter: brightness(40%); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40rem;
}

.slider .text1{
    color: white;
    font-size: 5rem;

    margin-left: 25%;
    padding-top: 6%;
    line-height: 95%;

}
.slider .text2{
    color: white;
    font-size: 2.5rem;
    /* height: 2rem; */
    margin-left: 40%;
    padding-top: 5%;

}
.slider .text3{
    color: white;
    font-size: 2.5rem;
    /* height: 2rem; */
    margin-left: 45%;
    /* padding-top: 5%; */

}



/* SWIPER */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  

  .swiper {
    width: 100%;
    /* height: 300px; */
    margin: 20px auto;
  }

  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  .swiper-wrapper img{
    margin-top: 5%;
      /* height: 350px; */
      width: 85%;
  }
  .swiper-wrapper .inter{
    /* padding: 10px; */
    float: left;
    width: 25%;
  }
  .swiper-wrapper .internal{
    width: 100%;
    /* padding: 10px; */
  }
  .swiper-slide{
    display: flex;
    flex-direction: column;
  }
  
  .des{
    height: 100%;
    display:flex;
    flex-direction: column;
  }
  .swiper-pagination{
    position: static;
  }







  

  /* LOGIN Signup************************************************************************************************* */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
} */

:root {
	--grey: #F4F2FF;
	--dark-grey: #B7B7B7;

	--green: #23AE00;
	--light-green: #BDFFAC;

	--red: #FE2727;
	--light-red: #FFD2D2;

	--blue: #277FFE;
	--light-blue: #B6C6FF;
	--dark-blue: #1368E3;

	--bs: #AECFFF;
	--text: #9B9B9B;
}

.container .btn-submit a {
	color: var(--blue);
	transition: all .3s ease;
	text-decoration: none;
}

.container .btn-submit a:hover {
	color: var(--dark-blue);
}

.loginpage {
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background: var(--light-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 16px;
}

.container {
	max-width: 500px;
	width: 100%;
	position: relative;
}
.container form {
	width: 100%;
	padding: 28px;
	border-radius: 12px;
	background: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) scale(.8);
	opacity: 0;
	z-index: 100;
	transition: all .3s ease;
	transition-delay: 0s;
}
.container form.active {
	transform: translateY(-50%);
	opacity: 1;
	z-index: 200;
	transition-delay: .3s;
}
.container .title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
.container .form-group {
	margin-bottom: 14px;
}
.container .form-group label {
	display: inline-block;
	margin-bottom: 4px;
}
.container .form-group .input-group {
	width: 100%;
	position: relative;
}
.container .form-group .input-group input {
	padding: 12px 40px 12px 20px;
	outline: none;
	border-radius: 6px;
	border: 1px solid var(--dark-grey);
	width: 85%;
	transition: all .3s ease;
}

/* Validation */
.container .input-group input:focus,
.container .input-group input:not(:placeholder-shown) {
	border-color: var(--blue);
	background: var(--grey);
}
.container .input-group input:focus + i,
.container .input-group input:not(:placeholder-shown) + i {
	color: var(--blue);
}
.container .input-group input:focus:valid {
	box-shadow: 0 0 0 4px var(--light-green);
}
.container .input-group input:valid:not(:placeholder-shown) {
	border-color: var(--green);
}
.container .input-group input:valid:not(:placeholder-shown) + i {
	color: var(--green);
}
.container .input-group input:invalid:not(:placeholder-shown) {
	border-color: var(--red);
}
.container .input-group input:invalid:not(:placeholder-shown) + i {
	color: var(--red);
}
.container .input-group input:focus:invalid {
	box-shadow: 0 0 0 4px var(--light-red);
}
.input-group input:focus,
.input-group input:focus:placeholder-shown {
	box-shadow: 0 0 0 4px var(--bs);
}
/* Validation */

.input-group i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	color: var(--text);
	pointer-events: none;
	transition: all .3s ease;
}
.form-group .help-text {
	font-size: 12px;
	color: var(--text);
}
.btn-submit {
	padding: 12px 0;
	display: block;
	width: 100%;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s ease;
	border: none;
	font-weight: 500;
	background: var(--blue);
	margin-bottom: 20px;
}
.btn-submit:hover {
	background: var(--dark-blue);
}